
.App {
  text-align: center;
  background-color: #282c34;
  width: 100%;
  color: whitesmoke;
  height: 100%;
}



button {
  background-color: #586b94; /* Gold */
  border: none;
  color: whitesmoke;
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;  
  display: inline-block;
  font-size: 10px;
}

input {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.small {
  color: grey;
}

.in {
  width: 250px;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;

  
  }

  /* Add a black background color to the top navigation */
.topnav {
  background-color: #586b94;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #F00;
}






